################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/internRegistration/Pages/Signup.cshtml
